<div class="center padding-bottom p-max-width">
    <h1>Scale</h1>
    <div>
        <p>Width of output in number of characters.</p>
    </div>
    <h1>Invert</h1>
    <div>
        <p>Use for lightmode environments.</p>
    </div>
    <h1>Character Sets</h1>
    <div>
        <h2>Braille</h2>
        <p> ⠁⠅⠇⡙⢵⣟⡿⣿</p>
        <p>Characters are fixed width so can be used with proportional-width fonts. Can represent 8 states per character so it has higher resolution. Only binary states so no gradient values.</p>
        <h2>Blocks</h2>
        <p> ░▒▓█</p>
        <h2>Simple</h2>
        <p> .:-=+*#%@</p>
        <h2>Standard</h2>
        <p class="nowrap"> .'"`""^\",:;Il!i&gt;&lt;~+_-?][}{1)(|\\/tfjrxnuvczXYUJCLQ1OZmwqpdbkhao*#MW&8%B@$</span>
        <h2>Detailed</h2>
        <p class="nowrap"> `.-':_,^=;&gt;&lt;+!rc*/z?sLTv)J7(|Fi{C}fI31tlu[neoZ5Yxjya]2ESwqkP6h9d4VpOGbUAKXHm8RD#$Bg0MNWQ%&@</span>
    </div>

    <h1>Sample Methods</h1>
    <div>
        <p>Method used for sampling value of each grid of pixels that maps to a character.</p>
        
        <h2>Mid</h2>
        <p>Use this in most cases.</p>
        
        <h2>Min/Max</h2>
        <p>Use for images with line art.</p>
        
        <h2>Mean</h2>
        <p>Makes result smoother.</p>
    </div>
</div>
