<body>
    <div class="split-view center padding-bottom">
        <div class="grid-item-no-grow bottom-margin">
            <h1 class="bottom-border">Display</h1>
            <div class="attachment flex flex-apart">
                <input type="file" accept="image/png, image/jpeg, image/gif" id="image" onchange="updateImage()" />
                <button onclick="copyText()">Copy</button>
            </div>
            <div class="text-art" id="output" contenteditable="true" spellcheck="false"></div>
        </div>
        <form class="grid-item-no-grow" id="options" onsubmit="return false" onchange="sendOptions()">
            <h1 class="bottom-border">Options</h1>
            <div class="flex-list">
                <div class="line-option">
                    <label>Invert</label>
                    <input name="invert" type="checkbox" />
                </div>
                <div class="line-option">
                    <label>Characters</label>
                    <select name="charset">
                        <option value="braille">Braille</option>
                        <option value="simple">Simple</option>
                        <option value="standard">Standard</option>
                        <option value="detailed">Detailed</option>
                        <option value="blocks">Blocks</option>
                    </select>
                </div>
                <div class="scale line-option">
                    <label>Scale</label>
                    <input id="scale-range" type="range" min="0" max="90" step="2" />
                    <input name="scale" value="40" id="scale-output" type="number" />
                </div>
                <div class="line-option">
                    <label>Sampling Method</label>
                    <select name="sampleMethod">
                        <option value="min">Minimum</option>
                        <option value="mid">Mid</option>
                        <option value="max">Maximum</option>
                        <option value="mean">Mean</option>
                    </select>
                </div>
                <div class="line-option">
                    <label>Font</label>
                    <select name="font" id="font-selector" onchange="updateFont()">
                        <option value="monospace">monospace</option>
                        <option value="sans-serif">proportional</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <script src="assets/script.js"></script>
</body>
